.container {
  position: relative;
}

.card {
  margin-top: 2rem;
  width: 70rem;
  height: 95.4rem;
  border: 1px solid black;
  border-radius: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(255, 255, 255, 0.5);
}

.cardContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50rem;
  margin: 2.5rem;
}

.header {
  font-size: 3.5rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1rem;
}

.desc {
  margin-top: 3rem;
  font-weight: 700;
  font-size: large;
}

.button {
  margin: 2rem;
  width: 6.5rem;
  height: 2.5rem;
  background-color: #b4dfa1;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}

.miniCard {
  width: 60rem;
  height: 19rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: rgba(10, 10, 10, 0.5);
}

.miniContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem;
}

.header2 {
  color: white;
  font-weight: 400;
}

.desc2 {
  margin-top: 0.5rem;
  color: white;
  font-weight: 100;
  font-size: 1.6rem;
}

.button2 {
  width: 7rem;
  height: 2rem;
  background-color: #b4dfa1;
  border: none;
  border-radius: 2rem;
  font-weight: bolder;
  margin-top: 2rem;
  cursor: pointer;
}

.miniCard2 {
  width: 60rem;
  height: 13rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 8rem;
  background-color: rgba(10, 10, 10, 0.5);
}

.miniCard3 {
  width: 60rem;
  height: 15rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 10rem;
  background-color: rgba(10, 10, 10, 0.5);
}

.images {
  /* width: 100vw;
  height: 100vw; */
  margin: -0.3rem;
}
