.container {
  position: relative;
}

.card {
  margin-top: 2rem;
  width: 70rem;
  height: 92.4rem;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(255, 255, 255, 0.5);
}

.cardContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50rem;
  margin: 6rem;
}

.header {
  font-size: 3.5rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1rem;
}

.desc {
  margin-top: 3rem;
  font-weight: 700;
  font-size: large;
}

.button {
  margin: 2rem;
  width: 6.5rem;
  height: 2.5rem;
  background-color: #b4dfa1;
  border: none;
  font-weight: bolder;
}

.miniCard {
  width: 60rem;
  height: 15rem;
  border: none;
  margin-top: 5rem;
  background-color: rgba(10, 10, 10, 0.5);
}

.miniContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem;
}

.header2 {
  color: white;
  font-weight: 400;
}
