.container {
  width: 100%;
  height: 100%;
  padding-bottom: 8rem;
  /* margin-top: -rem; */
  background: linear-gradient(
    to bottom,
    rgba(119, 182, 91, 1),
    rgba(119, 182, 91, 0)
  );
}

/* .contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
} */

.contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.image {
  padding-left: 2rem;
  padding-top: 1rem;
}

.image2 {
  padding-right: 1.9rem;
}

.textContent {
  padding-right: 2rem;
}

.text {
  font-weight: 500;
  font-size: xx-large;
  text-decoration: none;
  margin-bottom: 1rem;
  position: relative;
  color: #132445;
}

.text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background-color: #132445;
}

.paragraph {
  font-size: x-large;
  font-weight: 200;
  padding-bottom: 3rem;
}

.text2 {
  font-weight: 500;
  font-size: xx-large;
  text-decoration: none;
  margin-bottom: 1rem;
  margin-left: 2rem;
  position: relative;
  color: #132445;
}

.text2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 52%;
  height: 2px; /* Thickness of the underline */
  background-color: #132445;
}

.paragraph2 {
  font-size: x-large;
  font-weight: 200;
  padding-bottom: 3rem;
  margin-left: 2rem;
}

.button {
  width: 6rem;
  height: 2.5rem;
  background-color: #b4dfa1;
  border: 1px solid #b4dfa1;
  font-weight: 600;
  margin-top: 1rem;
  margin-left: -1rem;
  cursor: pointer;
}

/* .cardContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 400;
  text-decoration: underline;
  color: #132445;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin: 3rem;
}

.card1 {
  width: 20.4rem;
  height: 20.82rem;
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
}

.cardText {
  font-size: 5rem;
  font-weight: 900;
  margin: 2rem;
}

.img3 {
  margin-left: 6rem;
  margin-top: -5rem;
}

.cardParagraph {
  font-size: large;
  font-weight: 700;
  margin: 1rem;
}

.card2 {
  width: 20.4rem;
  height: 20.82rem;
  border: 1px solid #b4dfa1;
  background-color: #b4dfa1;
}

.card3 {
  width: 20.4rem;
  height: 20.82rem;
  border: 1px solid #12af2b;
  background-color: #12af2b;
}
