.container {
  width: 100%;
  height: 100%;
  /* margin-top: -rem; */

  background: linear-gradient(
    to bottom,
    rgba(119, 182, 91, 1),
    rgba(119, 182, 91, 0)
  );
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.image {
  padding-left: 2rem;
  padding-top: 1rem;
}

.textContent {
  padding-right: 2rem;
}

.text {
  font-weight: 500;
  font-size: xx-large;
  text-decoration: none;
  margin-bottom: 1rem;
  position: relative;
  color: #132445;
}

.text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background-color: #132445;
}

.paragraph {
  font-size: x-large;
  font-weight: 200;
  padding-bottom: 3rem;
}
