.navbar {
  width: 100%;
  height: 8rem;
  border-radius: 1px solid red;
  background-color: #51a22d;
}

.logo {
  margin-left: 1.4rem;
}

.navcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 1.4rem;
}

.navlinks {
  display: flex;
  flex-direction: row;
  margin: 1.5rem;
  list-style: none;
}

.navlist {
  margin: 0.8rem;
  font-weight: bold;
  font-size: small;
}

.contact {
  width: 6.5rem;
  height: 2rem;
  background-color: #b4dfa1;
  border: 1px solid transparent;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 2.8rem;
}
